body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffedec;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: rgb(77, 57, 72);
}

.main-div {
    padding: 48px;
    width: 60%;
    height: 80%;
    background-color: #ffffff;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    position: relative;


    font-size: 40px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.12);
}

.img-div {
    display: flex;
    justify-content: center;
}

.thumbnail-img {
    width: 300px;
    border-radius: 30px;
    box-shadow: -2px 7px 28px -9px rgba(102, 105, 132, 0.5);
    transition: transform 0.7s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.thumbnail-img:hover {
    transform: rotate(8deg);
}

.header-div {
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: 32px;
    text-align: center;
    display: flex;
}

.buttons-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex: 1;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 32px;
    border-radius: 12px;
    background-color: #f3c6d3;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    font-size: 18px;
    padding:12px;
}

.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 16px rgba(0,0,0,0.2);
}

.yes-btn {
    background-color: #f08bb4;
}


.surprise-div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-decoration: underline;
    cursor: pointer;
}

.popup {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    text-align: center;
}

.popup-content img {
    max-width: 400px;
    width: 80%;
    border-radius: 10px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

#tsparticles {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none; /* żeby nie przeszkadzało w klikaniu */
    z-index: 9999;
}